h1, p {
  margin: 1em auto;
  text-align: center;
  color: white;
  font-weight: bold;
}

#container{
  width: 100%;
  height: 100vh;
  margin: 0;
}

h1{
  font-size: 50;
  }

form {
    width: 75vh;
    overflow: hidden;   
}

.answer {
    width: 480px;
}

.question{
 font-weight: bold;
 color: #854f6c;
 margin-bottom: 5;
 font-size: 20;
}

.qa *{
 margin-bottom: 10
}

.space{
  padding-top: 20;
  padding-bottom: 30;
}

body {
  background-color: #dfb6b2;
  font-family: helvetica;
}

.survey-form{
  width: 80vh;
  background-color: #fbe4d8;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  font-size: 16px;
  color: #9c4f78;
}

.answerlist {
    display: flex;
    margin-right: 10px;
}


